.invelope{
    margin: auto;
    width: 1100px;
    height: auto;
    background-color: rgba(253, 253, 253, 0.692);
   
}

a:link, a:visited{

    text-decoration: none;
    
    font-family: 'Franklin Gothic Medium'
}
.ancora{

    
    margin-left: 20px;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(213, 196, 255, 0.747));
    filter: drop-shadow(0px 0px 3px  rgb(28, 25, 37));
    background: rgb(166, 227, 235);
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 0px 15px 0px;
    color: blueviolet;
    
    

}
.ancora:hover{
    background: black;
    color: rgb(166, 227, 235);
    
    
}
.menu{
    display: inline-block;
    margin-bottom   : 10px;
    margin-top: 0px;
}
.tituloTopo{
    font-size: 85px;
    font-family: 'Franklin Gothic Medium';
    background: rgb(115, 115, 241);
    padding: 5px 5px 5px 5px;
    padding-left: 30px;
    -webkit-filter: drop-shadow(0px 0px 5px black);
    filter: drop-shadow(0px 0px 5px black);
    border-radius: 10px;
    letter-spacing: 3px;
    height: auto;
    
}
.imgTopo{
    float: left;
   border-radius: 20px 0px 20px 0px;
   margin :5px;
   


}
.secao{
    height: auto;
    width: 700px;
    background: rgb(227, 227, 243);
    float: left;
    border-top: 2px solid rgba(189, 189, 189, 0.671);
    margin: 4px;
    text-align: justify;
    box-shadow: 0px 0px 5px rgb(124, 124, 124);
    margin-bottom:30px;

}
section p {

    padding: 10px;
}
.titulisOfi{
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
}
footer{
	padding-top: 10px;
	height: 40px;
	width: 100%;
	background-color: #00001a;
	color: white;
    text-align: center;
    clear: both;
    margin-top: 30px;
}

.barraLateral{
    width: 370px;
    height: auto;
    background-color: rgb(212, 215, 255);
    float: right;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);

}
.MusicaTitulo{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.274);
    border-top: 1px solid black;

}
.Musica{
    color: rgb(154, 94, 233);
    letter-spacing: 4px;    
    margin-left: 20px;
    

}
.Musica:hover{

    -webkit-filter: brightness(100%);
    filter: brightness(150%);

}
ol li{

    background-color: rgba(0, 0, 255, 0.116);
    margin: 8px 5px 8px 5px ;
    border-top: 2px solid rgb(147, 242, 255);

}
hr{
    float: right;
    width: 50%;
    margin-right: 3px;
    background-color: black;
    
}